/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.empanada-card {
    width: 600px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }

  .horizontal-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    align-items: center;
  }

  .left-content {
    flex: 70%;
    width: 800px;
  }

  .right-content {
    width: 100px;
    flex: 30%;
  }

  /* Style the numeric input section */
  .numericInput {
    display: flex;
    flex-direction: row;
    width: 100%;
  }


  .value-input {
    width: 40px;
    height: 30px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  //Table
  /* Apply some basic styling to the table */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  /* Style the table header row */
  thead tr {
    background-color: #f0f0f0;
  }
  
  /* Style the table header cells */
  thead th {
    text-align: center;
    padding: 10px;
    text-align: left;
  }
  
  /* Style the table body rows */
  tbody tr {
    border-bottom: 1px solid #ccc;
  }
  
  /* Style the table data cells */
  td {
    padding: 10px;
    background-color: #f0f0f0;
  }