<h1>CREAR PERFIL DE EMPANADAS</h1>
<h3>Selecciona las empanadas que deseas guardar bajo el nombre</h3>

<div class="container">
  <div class="left">
    <div *ngFor="let empanadaType of empanadasTypes()">
      <h1>{{ empanadaType }}</h1>
      <app-empanada-listable
        *ngFor="let empanada of getEmpanadaByType(empanadaType)"
        [empanadaData]="empanada"
        [profileInject]="profile"
      ></app-empanada-listable>
    </div>
  </div>
  <div class="right">
    <!-- Content for the right div -->
    <h1>Orden</h1>
    <p>Display individual order</p>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Cant</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tuple of profile.empanadaList">
          <td style="text-align: center">{{ tuple.empanada.id }}</td>
          <td style="text-align: left">{{ tuple.empanada.name }}</td>
          <td style="text-align: center">{{ tuple.quantity }}</td>
        </tr>
      </tbody>
    </table>
    <br />
    <mat-form-field>
      <mat-label>Nombre del perfil</mat-label>
      <input type="text" matInput [(ngModel)]="profileName" />
    </mat-form-field>
    <button
      mat-raised-button
      [disabled]="!profileName || profile.empanadaList.length === 0"
      color="warn"
      (click)="guardarPedido()"
    >
      <mat-icon>save</mat-icon> Guardar
    </button>
  </div>
</div>
