<h1>CREAR PERFIL DE EMPANADAS</h1>
<h3>Selecciona las empanadas que deseas guardar bajo el nombre</h3>

<div class="container">
  <div class="left">
    <app-profile-listable
      *ngFor="let profile of getProfiles()"
      [profileData]="profile"
      [pageInject]="activeProfiles"
    ></app-profile-listable>
  </div>
  <div class="right">
    <!-- Content for the right div -->
    <h1>Orden</h1>
    <p>Display individual order</p>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Nombre</th>
          <th>Cant</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tuple of empanadaList">
          <td style="text-align: center">{{ tuple.empanada.id }}</td>
          <td style="text-align: left">{{ tuple.empanada.name }}</td>
          <td style="text-align: center">{{ tuple.quantity }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="empanadaList.length === 0">
        <tr>
          <td style="text-align: center">0</td>
          <td style="text-align: left">Agrega empanadas!</td>
          <td style="text-align: center">0</td>
        </tr>
      </tbody>
    </table>
    <br />
    <button
      mat-raised-button
      [disabled]="empanadaList.length === 0"
      color="warn"
    >
      <mat-icon>task_alt</mat-icon> Pedir!
    </button>
    <br />
    <button mat-raised-button color="warn" (click)="openWhatsapp()">
      <mat-icon>task_alt</mat-icon> Pedir!
    </button>
  </div>
</div>
